name: Publish

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Publish with Gradle
      run: ./gradlew test publish
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_CENTRAL_GPG }}

    - name: Publish to Central
      run: |
        token=$(printf %s:%s "${{ secrets.MAVEN_CENTRAL_USERNAME }}" "${{ secrets.MAVEN_CENTRAL_PASSWORD }}" | base64)

        curl "https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/su.plo?publishing_type=automatic" \
          --no-progress-meter \
          --request POST \
          --header 'accept: */*' \
          --header "Authorization: Bearer ${token}" \
          --data '' \
          --retry 5 \
          --retry-delay 2 \
          --retry-all-errors \
          --fail-with-body \
          --show-error
